.justify {
    width: 350px;
    /* font-family: 'Montserrat';
    /* font-style: italic; */
    /* font-weight: bold; */  /* también se puede poner número (100,200,300,400...) */
    font-size: 17px;
    text-indent: 15px;
    line-height: 2rem;
    word-spacing: 10px;
    text-shadow: 2px 2px 8px #000000;
    text-align: justify;
    /*
    justify --> Ocupa todo el espacio
    left --> Normal
    center --> Centro
    */
}

.gugul {
    text-decoration: none;
    letter-spacing: 7px;
    text-transform: uppercase;
    /*
    lowercase --> Full minúsculas
    uppercase --> Full mayúsculas
    capitalice --> Primera letra mayúscula
    */
}